<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" >
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Listado de Autores</title>
</head>
<body>


<div class="container">
    <h3>Editar Autor</h3>

    <div>
        <form action="#" method="post"
              th:object="${autor}"
              th:action="@{/autors/update/{dni} (dni=${autor.dni})}" >

            <div class="form-group">
                <label for="dni">dni</label>
                <input type="text" class="class-controller form-control"
                       id="dni" placeholder="Ingrese dni"
                       th:field="*{dni}" disabled>
            </div>
            <div class="form-group">
                <label for="name">firstName</label>
                <input type="text" class="class-controller form-control"
                       id="name" placeholder="Ingrese firstName"
                       th:field="*{firstName}">
            </div>
            <div class="form-group">
                <label for="lastNameFather">lastNameFather</label>
                <input type="text" class="class-controller form-control"
                       id="lastNameFather" placeholder="Ingrese lastNameFather"
                       th:field="*{lastNameFather}">
            </div>
            <div class="form-group">
                <label for="lastNameMother">lastNameMother</label>
                <input type="text" class="class-controller form-control"
                       id="lastNameMother" placeholder="Ingrese lastNameMother"
                       th:field="*{lastNameMother}">
            </div>
            <div class="form-group">
                <label for="birthDate">age</label>
                <input type="number" class="class-controller form-control"
                       id="birthDate" placeholder="Ingrese age"
                       th:field="*{age}">
            </div>
            <div class="form-group">
                <label for="biography">biography</label>
                <input type="text" class="class-controller form-control"
                       id="biography" placeholder="Ingrese biography"
                       th:field="*{biography}">
            </div>

            <button class="btn btn-primary btn-lg btn-block">Editar</button>
        </form>
    </div>
</div>
</body>
</html>
